body {
  margin: 0;
}

#header,
textarea {
  margin-left: 10px;
}

canvas {
  display: none;
  position: absolute;
  top: 0;
}

body.canvas canvas {
  display: block;
}

body.canvas .unless-canvas {
  display: none;
}

#instructions div,
canvas {
  display: none;
  z-index: -1;
}

body.selecting #instructions .in-progress {
  display: block;
}

body.done #instructions .done {
  display: block;
}
